= render 'shared/login_header'
%main.single-main
  %section.l-single-container
    %h2.l-single-title 新規会員登録
    .registration-container
      .registration-inner
        .registration-content
          %button#mailaddress-login.btn-default.btn-sns__mailaddress
            %i.fa.fa-envelope
            = link_to "メールアドレスで登録", new_user_registration_path, class: "btn-sns__mailaddress"
          %button#facebook-login.btn-default.btn-sns__facebook
            %i.loginbutton.fab.fa-facebook-square
            Facebookで登録
          %button#google-login.btn-default.btn-sns__google
            %i.loginbutton.fab.fa-google-plus-g
            Googleで登録
= render 'shared/login_footer'
