.single-container
  %header.login-header
    %h1
      =link_to root_path, class: "mercari-home" do
        = image_tag "logo.svg", class: 'images', alt: "mercari"
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status-top
        %li
          電話番号認証
          .progress-status1
        %li.active
          住所入力
          .progress-status1
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %main.single-main
    .m-single-container
      .l-single-title 住所入力
      .address-form-inner
      %form{ action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
        .s-single-container
          .form-group__input
            %label お名前
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）山田", type: "name"}
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）彩", type: "name"}
          .form-group__input
            %label お名前カナ
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）ヤマダ", type: "name"}
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）アヤ", type: "name"}
          .form-group__input
            %label 郵便番号
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）123-4567", type: "name"}
          .form-group__input
            %label 都道府県
            %span 必須
          .form-groups
            %select.input-state{name: "state"}
              %option{value: "1"} 北海道
              %option{value: "2"} 青森県
              %option{value: "3"} 岩手県
              %option{value: "4"} 宮城県
              %option{value: "5"} 秋田県
              %option{value: "6"} 山形県
              %option{value: "7"} 福島県
              %option{value: "8"} 茨城県
              %option{value: "9"} 栃木県
              %option{value: "10"} 群馬県
              %option{value: "11"} 埼玉県
              %option{value: "12"} 千葉県
              %option{value: "13"} 東京都
              %option{value: "14"} 神奈川県
              %option{value: "15"} 新潟県
              %option{value: "16"} 富山県
              %option{value: "17"} 石川県
              %option{value: "18"} 福井県
              %option{value: "19"} 山梨県
              %option{value: "20"} 長野県
              %option{value: "21"} 岐阜県
              %option{value: "22"} 静岡県
              %option{value: "23"} 愛知県
              %option{value: "24"} 三重県
              %option{value: "25"} 滋賀県
              %option{value: "26"} 京都府
              %option{value: "27"} 大阪府
              %option{value: "28"} 兵庫県
              %option{value: "29"} 奈良県
              %option{value: "30"} 和歌山県
              %option{value: "31"} 鳥取県
              %option{value: "32"} 島根県
              %option{value: "33"} 岡山県
              %option{value: "34"} 広島県
              %option{value: "35"} 山口県
              %option{value: "36"} 徳島県
              %option{value: "37"} 香川県
              %option{value: "38"} 愛媛県
              %option{value: "39"} 高知県
              %option{value: "40"} 福岡県
              %option{value: "41"} 佐賀県
              %option{value: "42"} 長崎県
              %option{value: "43"} 熊本県
              %option{value: "44"} 大分県
              %option{value: "45"} 宮崎県
              %option{value: "46"} 鹿児島県
              %option{value: "47"} 沖縄県
          .form-group__input
            %label 市区町村
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）横浜市緑区", type: "name"}/
          .form-group__input
            %label 番地
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）青山1−1−1", type: "name"}/
          .form-group__input
            %label 建物名
            %span.option 任意
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）柳ビル103", type: "name"}/
          .form-group__input
            %label 電話番号
            %span.option 任意
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "例）09012345678", type: "name"}/
          .form-group__input
            %button.next-submit.btn-default{type: "submit"} 次へ進む
= render 'shared/login_footer'