= render 'items/header'
= render 'sidebar'
%main.l-container.clearfix
  %main.mypage.clearfix
    .logout-content
      %section.chapter-container
        %form
          %button.logout-red{type: "submit"} ログアウト
