= render 'items/header'
= render partial: 'sidebar'
%main.l-container.clearfix
  %section.user-icon
    %a
      %figure
        %image_tag{alt: "user", height: "60", src: "/assets/user_photo_noimage.png", width: "60"}/
        %h2.bold name
      .user-number
        %div
          評価
          %span.bold -
        %div
          出品数
          %span.bold -
  %section.notification-todo
    %ul.notification-todo__tabs
      %li.active
        %h3
          %a
            お知らせ
      %li
        %h3
          %a
            やることリスト
    %ul.notification__content
      %li
        %a.notification-todo__content-link
          %image_tag.clearfix{height: "48", src: "/assets/mercari_profile.png", width: "48"}/
          .notification-todo__content-link--text
            message
          %time
            %i.far.fa-clock.my-gray
            %span - 日前
            %i.fas.fa-angle-right.fa-lg
      %li
        %a.notification-todo__content-link
          %image_tag.clearfix{height: "48", src: "/assets/mercari_profile.png", width: "48"}/
          .notification-todo__content-link--text
            message
          %time
            %i.far.fa-clock.my-gray
            %span - 日前
            %i.fas.fa-angle-right.fa-lg
      %li
        %a.notification-todo__content-link
          %image_tag.clearfix{height: "48", src: "/assets/mercari_profile.png", width: "48"}/
          .notification-todo__content-link--text
            message
          %time
            %i.far.fa-clock.my-gray
            %span - 日前
            %i.fas.fa-angle-right.fa-lg
      %li
        %a.notification-todo__content-link
          %image_tag.clearfix{height: "48", src: "/assets/mercari_profile.png", width: "48"}/
          .notification-todo__content-link--text
            message
          %time
            %i.far.fa-clock.my-gray
            %span - 日前
            %i.fas.fa-angle-right.fa-lg
      %li.mypage-go-list
        %a 一覧を見る
    -# %ul.todo__content
    -#   %li
    -#     現在やることはありません
  %section.past-dealings-container
    %h2.past-dealings-container__head
      購入した商品
    %ul.past-dealings-container__tabs
      %li.active
        %h3
          %a
            取引中
      %li
        %h3
          %a
            過去の取引
    .past-dealings-container__content
      %image_tag{alt: "box", height: "60", src: "/assets/background_logo.svg", width: "60"}/
      取引中の商品がありません

= render 'items/new_item_btn'
