.defalut-container
  .l-side-crearfix
    %nav.mypage-nav
      %ul.maypage-nav-list
        %li
        %a
          マイページ
        %li
        %a
          やることリスト

        %li
        %a
          いいね!一覧

        %li
        %a
          出品する

        %li
        %a
          出品した商品 - 出品中

        %li
        %a
          出品した商品 - 取引中
        %li
        %a

          出品した商品 - 売却済み
        %li
        %a


        %li
        %a
          購入した商品 - 取引中

        %li
        %a
          購入した商品 - 過去の取引

        %li
        %a
          ニュース一覧

        %li
        %a
          評価一覧

        %li
        %a
          ガイド

        %li
        %a
          お問い合せ

      %h3.mypage-nav-head 売上・ポイント
      %ul.mypage-nav-list
        %li
        %a
          売上・振込申請

        %li
        %a
          ポイント

      %h3.maypage-nav-head 設定
      %ul.maypage-nav-list
        %li
        %a
          プロフィール

        %li
        %a
          住所変更

        %li
        %a
          メール/パスワード

        %li
        %a
          本人情報

        %li
        %a
          電話番号

        %li
        %a
          電話番号の確認

        %li
        %a
          ログアウト
          
