
/ = render 'users/mypage'
/ = render 'users/creditcard'
/ = render 'users/profile'
/ = render 'users/logout'
= render 'users/creditcard'


/ = render 'users/login'
/ = render 'users/registration'
/ = render 'users/registration_input'
/ = render 'users/phone_confirm'
/ = render 'users/phone_auth'
/ = render 'users/address_input'
/ = render 'users/payment_method'
/ = render 'users/done'

= render 'users/deal'
