.single-container
  %header.login-header
    %h1
      =link_to root_path, class: "mercari-home" do
        = image_tag "logo.svg", class: 'images', alt: "mercari"
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status-top
        %li
          電話番号認証
          .progress-status1
        %li
          住所入力
          .progress-status1
        %li.active
          支払い方法
          .progress-status1
        %li
          完了
          .progress-status
  %main.single-main
    .m-single-container
      .l-single-title 支払い方法
      .address-form-inner
      %form{ action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
        .s-single-container
          .form-group__input
            %label カード番号
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "半角数字のみ", type: "name"}/
            = image_tag "cardlist.jpg", class: 'images'
          .form-group__input
            %label 有効期限
            %span 必須
          .card-month
            %select.input-card{name: "month"}
              %option{value: "1"} 01
              %option{value: "2"} 02
              %option{value: "3"} 03
              %option{value: "4"} 04
              %option{value: "5"} 05
              %option{value: "6"} 06
              %option{value: "7"} 07
              %option{value: "8"} 08
              %option{value: "9"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            月
          .card-year
            %select.input-card{name: "year"}
              %option{value: "1"} 18
              %option{value: "2"} 19
              %option{value: "3"} 20
              %option{value: "4"} 21
              %option{value: "5"} 22
              %option{value: "6"} 23
              %option{value: "7"} 24
              %option{value: "8"} 25
              %option{value: "9"} 26
              %option{value: "10"} 27
              %option{value: "11"} 28
            年
          .form-group__input
            %label セキュリティコード
            %span 必須
            %input.input-default{ autocomplete: "off", name: "name", placeholder: "カード背面4桁もしくは3桁の番号", type: "name", limit: "4"}
          .security-text
            .fas.fa-question-circle
              %span カード裏面の番号とは？
          .form-group__input
            =link_to "次へ進む", next_wizard_path, class: "next-submit btn-default"
= render 'shared/login_footer'
