%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %a{ href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li
        %a{ href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li
        %a{ href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  %a.single-footer-logo{ href: "https://www.mercari.com/jp/"}
    = image_tag "logo-gray.svg", alt: "mercari", class: 'images'
  %p
    %small © 2018 Mercari