.left-float {
 float: left;
}

.right-float {
 float: right;
}

.default-containerz{
  background-color: #fff;
 header {
   background-color: #fff;
   background-color-size: cover;
   height: 82px;
   width: 75%;
   margin: 0 auto;
   padding: 8px 0 0;
   font-family: $font-source;
   .logo-and-search {
     height: 36px;
     margin: 0 8px;
     padding: 0;
     &__logo {
     width: 134px;
       img {
         width: 134px;
       }
     }
     &__search {
       position: relative;
       width: calc(100% - (134px + 16px));
       input {
         width: 100%;
         height: 36px;
         padding: 9px 32px 9px 8px;
         background: #fafafa;
         border-radius: 4px;
         box-sizing: border-box;
         border: 1px solid #ccc;
         font-size: 15px
       }
       i {
         position: absolute;
         top: 0;
         right: 0;
         width: 36px;
         line-height: 36px;
         cursor: pointer;
         text-align: center;
       }
     }
   }
 }

 .lists {
   height: 32px;
   margin: 9px 0 0 0;
   &__left {
     ul{
       .categories {
         font-size: 14px;
         font-weight: 400;
         position: relative;
         right: 135px;
         display: inline-block;
         h2 {
           a {
             margin-top: 15px;
             display: block;
             color: #333;
             text-decoration: none;
           }
         }
       }
       .brands {
         position: relative;
         display: inline-block;
         right: 135px;
         padding: 0 0 0 16px;
         h2 {
           font-size: 14px;
           font-weight: 400;
           a {
             display: block;
             color: #333;
             text-decoration: none;
           }
         }
       }
     }
   }
 }
}


.signin-and-signup {
 ul {
   position: relative;
   .signin-btn {
     float: left;
     margin: 10px;
     position: relative;
     left: 10px;
     .signin-btn__text{
       display: block;
       background: #ea352d;
       border: 1px solid #ea352d;
       color: #fff;
       font-size: 13px;
       text-decoration: none;
       padding: 0 13px;
       border-radius: 4px;
       text-align: center;
       line-height: 30px;
     }
   }
   .signup-btn {
     float: right;
     display: inline-block;
     margin: 10px 0 0 11px;
     border-radius: 4px;
     .signup-btn__text{
       display: block;
       border: 1px solid #0099e8;
       background: #fff;
       color: #0099e8;
       font-size: 14px;
       text-decoration: none;
       padding: 0 10px;
       border-radius: 4px;
       text-align: center;
       line-height: 30px;
     }
   }
 }
}

.sign-in-after{
 display: inline-block;
 float:right;
 }
.header-user-nav__acount {
  display: inline-block;
  width: 140px;
  img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 8px 10px -10px;
  }
  .mypage_icon{
    text-decoration: none;
    font-family: "Font Awesome 5 Free";
    color: #333;
  }
}
 .header-user-nav__notice {
   display: inline-block;
   width: 83px;
 }
   .header-user-nav__todo {
     display: inline-block;
     width: 120px;
   }

