body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1
}

.single-header {
  text-align: center;
  height: 128px;

  a {
  display: inline-block;
  margin: 33px 0 0;
  width: 185px;
  height: 49px;
  line-height: 49px
  }
  
  h1 {
  display: inline-block;
  margin: 11px 0 12px;
  }
  
  .images {
    width: 185px;
    height: 49px;
  }
}

.login-panel {
  width: 456px;
  margin: 0 auto;
  background: #fff;
}

.login-no-account {
  padding: 40px 64px;
  text-align: center;
  
  p {
  font-size: 14px;
  }
  
  .signup-btn {
  display: block;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  }
}

.login-form-inner {
  padding: 32px 64px;
  border-top: 1px solid #eee;
  
  &:first-child {
    padding: 24px 64px 32px;
    border: 0;
  }
  
  & .form-group {
    margin: 24px 0 0;
    &:first-child {
    margin: 0;
    }
  }
  
  & .input-default {
    margin: 0;
  }
  
  .form-group a {
  display: block;
  margin: 40px 0 0;
  color: #0099e8;
  text-decoration: none
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  text-decoration: none;
}

.loginbutton {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  font-size: 20px;

  .fa-facebook-square {
  color: #fff;
  background: #385185;
  }

  .fa-google-plus-g {
  color: #fff;
  background: #dc4e41;
  }
}

.btn-sns {
  &__facebook {
  background: #385185;
  margin: 0 0 16px;
  }
  
  &__google {
  background: #dc4e41;
  }
}

.input-default {
  width: 90%;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


.input-defaults {
  width: 100%;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.login-submit {
  margin: 24px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff
}

.single-footer {
  right: 0;
  bottom: 0;
  left: 0;
  height: 140px;
  padding: 40px 0;
  text-align: center;
  
  li a {
  text-decoration: none;
  font-size: 12px;
  margin: 0 0 0 16px;
  color: #333;
  }
  
  nav ul{
    color: #333;
    text-decoration: none;
  }
  nav li {
    display: inline-block;
    list-style: none;
  }
  
  p {
    margin: 8px 0 0;
    font-size: 13px;
    display: block;
  }
  
  .single-footer-logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
  display: block;
    images{
      width: 65em;
      height: 80em;
    }
  }
}