.exhibit {
  a{
    width: 160px;
    height: 160px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    font-size: 22px;
    border-radius: 75%;
    background: #ea352d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    .text{
      margin: 26px 0 0;
      padding: 0;
    }
    i{
      margin:0px 0 0;
      font-size: 65px;
    }
  }
}

