.l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
}

.l-single-title{
  padding: 32px 16px;
  font-size: 22px;
  font-weight:bold;
  line-height: 1.5;
  text-align: center;
}

.registration-inner{
  padding: 64px;
  border-top: 1px solid #eee;
}

.registration-content{
  max-width: 320px;
  margin: 0 auto;
}

.btn-sns__mailaddress {
  background: #eee;
  margin: 0 0 16px;
  color: #000;
  text-decoration: none;

.fa-envelope {
  color: #ccc;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  font-size: 20px;
  }
}
