.sell-container {
  background: rgb(245, 245, 245);
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  font-family: $font-source;
  &__inner {
    font-size: 13px;
    &__head {
      height: 97px;
      margin: auto 0;
      h2 {
        padding-top: 30px;
        font-weight: bold;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
}

 .form-label {
  font-size: 16px;
  font-weight: bold;
  float: left;
}
 .form-require-sell {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
 .form-group-first {
  width: 100%;
}
 .form-group-sell {
  margin-top: 40px;
  width: 100%;
  textarea {
    height: 120px;
  }
}
 .input-default-exhibit {
  width: 586px;
  margin: 8px 0 0;
  padding: 10px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
        // #sell-form{
        //   height: 100%;
        //   .sell-upload-box{
        //     border-top: #f5f5f5 solid 1px;
        //     padding: $sell-padding;
        //     height: 250px;

        //     .sell-upload-head{
        //       float: left;
        //       // @include font_basic(null, 16px, bold, null, null);
        //     }
        //     p{
        //       clear: both;
        //       padding-top: 5px;
        //       padding-bottom: 12px;
        //     }
        //     .sell-dropbox-container{
        //       .sell-upload-drop-box {
        //         @include div_basic(150px, 184px, #f5f5f5);
        //         float: left;
        //         flex: 1;
        //         position: relative;
        //         min-height: 116px;
        //         border: 1px dashed #ccc;
        //         font-size: 0;
        //         text-align: center;
        //         transition: box-shadow ease-out .3s;
        //         cursor: pointer;
  .sell-upload-drop-file{
  opacity: 0.01;
  width:138px;
  height:138px;
  position:relative;
  bottom:15px;
  z-index:300;
  }

.img1 {
  position:relative;
  bottom:142px;
  z-index:10;
  background-color:#f5f5f5;
 }
#img-edit{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}

#img-delite{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}

/* モーダルウィンドウのスタイル */
.preview-modal {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
}

/* オーバーレイのスタイル */
.overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(200,200,200,0.9);
  width:100%;
  height:100vh;
  z-index:100;
}

/* モーダルウィンドウの中身のスタイル */
.preview-inner {
  margin:5% auto;
  width:47%;
  height:85%;
  text-align:center;
  font-size:40px;
  z-index:200;
  top:50%;
  left:50%;
  background-color:#fff;
}
.preview-inner-header-left{
  float:left;
font-size:20px;
 padding:20px 30% 20px 20px;
font-weight:600;
}
.modalClose{
  float:right;
  font-size:20px;
  padding:20px 35px 20px 30%;
  font-weight:600;
}
#canvas{
margin:0 auto;
z-index:300;
background-color:#f5f5f5;
}
.input-range-default {
    background-color:#dedede;
    cursor: pointer;
    width: 40%;
    margin: 0 0.5% 0 2.5%;
    border: 0;
    outline: 0;
    border-radius:10%;
    font-family: inherit;
    -webkit-appearance: none;
}
.fa-camera.small{
font-size: 0.4em;
margin-left:10px;
}
.fa-camera.big{
margin-left:10px;
}
.preview-crop-btn {
    margin: 14px auto;
    padding: 0 auto;
    text-decoration:none;
    font-size:18px;
    width:100%;
height:200;
}
.crop-btn-left {
    width:100%;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
        text-decoration:none;
}
.crop-btn-right {
    width:25%;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
        text-decoration:none;
}
.img2{
  position:relative;
  bottom:142px;
  z-index:10;
  background-color:#f5f5f5;
 }
#img2-edit{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}

#img2-delite{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}


.img3{
  position:relative;
  bottom:142px;
  z-index:10;
  background-color:#f5f5f5;
 }
#img3-edit{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}

#img3-delite{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}
.img4{
  position:relative;
  bottom:142px;
  z-index:10;
  background-color:#f5f5f5;
 }
#img4-edit{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}

#img4-delite{
display:inline-block;
  position:relative;
  bottom:158px;
  background-color:#f5f5f5;
  width:69px;
  height:44px;
  color:black;
  line-height: 44px;
a{
  font-size:14px;
  color: #0099e8;
  text-decoration: none;
  }
}
 .sell-upload-box {
  border-top: 1px solid rgb(245, 245, 245);
  padding: 40px 0px 0px 35px;
  line-height: 30px;
  max-height:330px;
}
 .sell-dropbox-container {
  display: block;
  margin: 0 auto;
  width: 620px;
}
 .sell-upload-drop-box {
  margin: 0 0 0 -2px;
  display: inline-block;
  width: 138px;
  height: 138px;
  flex: 1;
  position: relative;
  min-height: 116px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow ease-out .3s;
  cursor: pointer;
  pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
 .sell-content {
  border-top: 1px solid rgb(245, 245, 245);
  padding: 40px;
  @include clearfix;
}
 .sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;
}
 .sell-form-box {
  float: right;
  width: 400px;
}
 .select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

 .select-wrap1 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;

}

 .select-wrap2 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

 .select-wrap3 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}



 .select-default-sell {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell1 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}


 .select-default-sell2 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell3 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell4 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .l-right {
  float: right;
  padding: 8px;
}
 .l-left {
  float: left;
  padding: 8px;
}
 .input-price {
  float: right;
  text-align: right;
  padding-bottom: 24px;
}
 .input-price-area {
  padding: 10px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
 .commision {
  float: right;
  width: 400px;
  padding: 12px 0 12px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size:18px;
}
 .profits {
  float: right;
  width: 400px;
  padding: 12px 0 12px 0;
  font-size: 16px;
  font-weight: 600;
  font-size:30px;

}
 .btn {
  display: block;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  &__red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
  }
  &__gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    width: 45%;
    margin: 24px auto 0;
    text-decoration: none;
  }
}

