.sell-container {
  background: rgb(245, 245, 245);
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  font-family: $font-source;
  &__inner {
    font-size: 13px;
    &__head {
      height: 97px;
      margin: auto 0;
      h2 {
        padding-top: 30px;
        font-weight: bold;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
}
 .form-label {
  font-size: 16px;
  font-weight: bold;
  float: left;
}
 .form-require-sell {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
 .form-group-first {
  width: 100%;
}
 .form-group-sell {
  margin-top: 40px;
  width: 100%;
  textarea {
    height: 120px;
  }
}
 .input-default {
  width: 586px;
  margin: 8px 0 0;
  padding: 10px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
 .sell-upload-box {
  border-top: 1px solid rgb(245, 245, 245);
  padding: 40px 40px 40px 40px;
  line-height: 30px;
}
 .sell-dropbox-container {
  display: block;
  margin: 0 auto;
  width: 620px;
}
 .sell-upload-drop-box {
  width: 620px;
  height: 184px;
  flex: 1;
  position: relative;
  min-height: 116px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow ease-out .3s;
  cursor: pointer;
  pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
 .sell-content {
  border-top: 1px solid rgb(245, 245, 245);
  padding: 40px;
  @include clearfix;
}
 .sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;
}
 .sell-form-box {
  float: right;
  width: 400px;
}
 .select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

 .select-wrap1 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;

}

 .select-wrap2 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

 .select-wrap3 {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}



 .select-default-sell {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell1 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}


 .select-default-sell2 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell3 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .select-default-sell4 {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  margin: 11px 0 12px 0;
}

 .l-right {
  float: right;
  padding: 8px;
}
 .l-left {
  float: left;
  padding: 8px;
}
 .input-price {
  float: right;
  text-align: right;
  padding-bottom: 24px;
}
 .input-price-area {
  padding: 10px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
 .commision {
  float: right;
  width: 400px;
  padding: 12px 0 12px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
 .profits {
  float: right;
  width: 400px;
  padding: 12px 0 12px 0;
  font-size: 16px;
  font-weight: 600;
}
 .btn {
  display: block;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  &__red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
  }
  &__gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    width: 45%;
    margin: 24px auto 0;
    text-decoration: none;
  }
}

