.bottom-dl-area
  .bottom-dl-area__contents
    .left-img
      %h2
        スマホでかんたんフリマアプリ
      %p
        今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure.app-banner-icon__icons-box
          = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1016580576", class: "mercari-icon")
        %ul.imgs.clearfix
          %li
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1016580576", class: "imgs__store app")
          %li
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1016580576", class: "imgs__store google")
    .right-img
      = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1016580576")
