%main
  %section#topMain
    %div.headbanner
      .headbanner-content
        %h2
          スマホでかんたん<br>フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
        .headbanner-store.clearfix
          %a.pull-left{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
            %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3221204175"}/
          %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
            %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3221204175"}/
      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?1016580576"}/


