.deal-header
  %t1
    =link_to root_path, class: "mercari-home" do
      =image_tag "logo.svg",width:"185",height:"49"
.wrap#deals_new
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.lazyload{alt: "", src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m70068440240_1.jpg?1539045823"}/
          %p.buy-item-name.bold レア！【新品未使用】エアラインキャップ カンタス航空
          %form.buy-form{action: "https://www.mercari.com/jp/transaction/buy/done/m70068440240/", method: "POST", novalidate: "novalidate"}
            %p.buy-price-ja.bold
              ¥ 3,980
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span
            %button.btn-default.btn-red.bold{type: "submit"} 購入する
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒114-0000
            %br/
            東京都 渋谷区渋谷川
            1-23-4
            %br/
            山田 太郎
          %p.buy-user-info-text
          = link_to '#', class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon "angle-right"
      %section.buy-content.buy-user-info{data: {buy: "pay-method"}}
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            ************9999
            %br/
            12 / 31
            %figure
              %img{alt: "visa", height: "15", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?582886128", width: "49"}/
          = link_to '#', class: "buy-user-info-fix" do
            %span 変更する
            = fa_icon "angle-right"
