!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: {Content: "Type"}}}/
    %script{src: "https://www.google.com/recaptcha/api.js?hl=ja"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: "main.js", type:"assets/javascripts" }
    %script{src: "exhibit.js", type:"assets/javascripts" }
    %script{src: "price.js", type:"assets/javascripts" }
    %script{src: "imagepreview.js", type:"assets/javascripts" }
    %link{ crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity: "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", rel: "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    %script{src: '//code.jquery.com/jquery-2.1.0.min.js', type: 'text/javascript'}

  %body

    = yield
