!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: {Content: "Type"}}}/
    %script{ src: "https://www.google.com/recaptcha/api.js?hl=ja"}
    %link{ crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity: "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", rel: "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  %body
  
    = yield
